
<table>
  <tbody>
    <% @items.each do |item| %>
      <tr class="items col4">
        <td><%= item.name %></td>
        <td><%= item.picture %></td>
        <td><%= item.cost %></td>
        <td><%= item.description %></td>
        <td><%= item.item_number %></td>
        <td><%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </tbody>
</table>
